html
{
	background-color: #1C2331
}

html, body
{
	height: 100%;
}

p
{
	color: white;
	font-family: "Segoe UI";
	font-size: 20px;
}

li
{
	color: white;
	font-family: "Segoe UI";
	font-size: 20px;
	margin-bottom:3%;
}

h1
{
	font-size: 24px;
	font-family: Verdana;
	color: white;
	text-align: center;
}

h2
{
	margin-top: -10px;
	font-size: 24px;
	font-family: "Segoe UI";
	color: white;
	text-align: center;
	font-weight: lighter;
}

h3
{
	font-family: "Segoe UI";
	font-weight: lighter;
}
